name: ServerRest + API Rest + Docker + Wiremock

on:
#  push:
#    branches: [ "wiremock" ]
#  pull_request:
#    branches: [ "wiremock" ]
  schedule:
    # * é um caractere que corresponde a qualquer coisa
    # '00 16 * * *' executa o trabalho todos os dias às 13:00 UTC-3 (00 16)
    - cron: '00 16 * * *'

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      # Instalar Docker Compose
      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      # Subir o Docker Compose com WireMock
      - name: Start WireMock with Docker Compose
        run: docker-compose -f docker-compose.yml up -d

      # Executar os testes
      - name: Run Tests
        run: mvn test -Dcucumber.filter.tags="@wiremock" -f pom.xml

      # Gerar o relatório Allure
      - name: Generate Allure report
        uses: simple-elf/allure-report-action@v1
        with:
          allure_results: allure-results

      # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
      - name: Update dependency graph
        uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
