name: ServerRest + API Rest

on:
#  push:
#    branches: [ "main" ]
#  pull_request:
#    branches: [ "main" ]
  schedule:
    # * é um caractere que corresponde a qualquer coisa
    # '00 16 * * *' executa o trabalho todos os dias às 13:00(UTC-3)(00 16)
    - cron: '00 16 * * *'

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Run Tests
        run: mvn test -Dcucumber.filter.tags="@all" -f pom.xml
